# URL backend Sport Reservation API (lihat variable BASE_URL di Postman collection)
# Default backend Laravel biasanya jalan di sini:
VITE_API_BASE_URL=https://sport-reservation-api-bootcamp.do.dibimbing.id
